<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="../static/img/file.png">
    <title>Document</title>
</head>
<body>
    <aside>
        <div class="subbox">
            <img src="../static/img/file.png" alt="Avatar">
            <h3>admin</h3>
        </div>
        <nav>
            <ul>
                <button class="boton-enlace" id="añadir-estudiantes-link"><a href="agregar-estudiantes.html">Añadir estudiantes</a></button>
                <li class="t"><a href="index.html" id="tablero-link"><span class="material-symbols-outlined">dashboard</span>Tablero</a></li>
                <li class="t"><a href="estudiantes.html" id="estudiantes-link"><span class="material-symbols-outlined">group</span>Estudiantes</a></li>
            </ul>
            <ul class="submenu">
                <li class="t"><a href="estadisticas.html" id="estadisticas-link"><span class="material-symbols-outlined">monitoring</span>Estadisticas</a></li>
                <li class="t"><a href="configuracion.html" id="configuracion-link"><span class="material-symbols-outlined">settings</span>Configuración</a></li>
                <li class="t"><a href="#" id="cerrar-link"><span class="material-symbols-outlined">logout</span>Cerrar Sección</a></li>
            </ul>
        </nav>
    </aside>

    <header class="cabecera">

        <nav class="menu">

            

        </nav>


    </header>

    <section>
    <h2>Añadir estudiante </h2>

    <form action="../registrar-estudiante.php" method="POST">
        
        <div class="formulario">
         
        
            <input type="text" name="cedula" placeholder="Cédula"class="campo" pattern="\d{8}" title="la cedula debe contener 8 digitos" required >

        
            <input type="text" name="nombre" placeholder="Nombre" class="campo">

            
            <input type="text" name="apellido" class="campo" placeholder="Apellido">



            <input type="tel" name="telefono" placeholder="Teléfono" class="campo" pattern="\d{10,11}" title="El teléfono debe contener 10 u 11 dígitos" required>


            <input type="date" name="fecha" class="campo" placeholder="Fecha de ingreso " style="padding: 10px;">
           
            <select id="opciones" name="curso" placeholder="curso">
                <option value="Seleccionar">Seleccionar</option>
                <option value="Excel">Excel</option>
                <option value="PowerPoint">PowerPoint</option>
                <option value="Canvas">Canvas</option>
                <option value="Ofimática">Ofimática</option>
            </select>

    
 

        <input type="submit" value="Agregar Estudiante">
    </div>
    </form>
</section>
</body>
</html>