<!DOCTYPE html>
<html lang="e">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="icon" href="../static/img/file.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Panel de Estudiantes</title>
</head>
<body>
    <aside>
        <div class="subbox">
            <img src="../static/img/file.png" alt="Avatar">
            <h3>admin</h3>
        </div>
        <nav>
            <ul>
                <button class="boton-enlace" id="añadir-estudiantes-link"><a href="agregar-estudiantes.html">Añadir estudiantes</a></button>
                <li class="t"><a href="index.html" id="tablero-link"><span class="material-symbols-outlined">dashboard</span>Tablero</a></li>
                <li class="t"><a href="estudiantes.html" id="estudiantes-link"><span class="material-symbols-outlined">group</span>Estudiantes</a></li>
            </ul>
            <ul class="submenu">
                <li class="t"><a href="estadisticas.html" id="estadisticas-link"><span class="material-symbols-outlined">monitoring</span>Estadisticas</a></li>
                <li class="t"><a href="configuracion.html" id="configuracion-link"><span class="material-symbols-outlined">settings</span>Configuración</a></li>
                <li class="t"><a href="#" id="cerrar-link"><span class="material-symbols-outlined">logout</span>Cerrar Sección</a></li>
            </ul>
        </nav>
    </aside>

    <header class="cabecera">

        <nav class="menu">

            <h1 style="color: white;" class="titulo2">Configuración</h1>

        </nav>


    </header>
        

    <section id="content">
 
     <div> 

        <h1>cambiar imagen</h1>

     </div>


    </section>
    <script src="js/index.js"></script>

    <script src="js/crud.js"></script>
</body>
</html>