<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="../static/img/file.png">
    <title>Document</title>
</head>
<body>
    <aside>
        <div class="subbox">
            <img src="../static/img/file.png" alt="Avatar">
            <h3>admin</h3>
        </div>
        <nav>
            <ul>
                <button class="boton-enlace" id="añadir-estudiantes-link"><a href="agregar-estudiantes.html">Añadir estudiantes</a></button>
                <li class="t"><a href="index.html" id="tablero-link"><span class="material-symbols-outlined">dashboard</span>Tablero</a></li>
                <li class="t"><a href="estudiantes.html" id="estudiantes-link"><span class="material-symbols-outlined">group</span>Estudiantes</a></li>
            </ul>
            <ul class="submenu">
                <li class="t"><a href="estadisticas.html" id="estadisticas-link"><span class="material-symbols-outlined">monitoring</span>Estadisticas</a></li>
                <li class="t"><a href="configuracion.html" id="configuracion-link"><span class="material-symbols-outlined">settings</span>Configuración</a></li>
                <li class="t"><a href="#" id="cerrar-link"><span class="material-symbols-outlined">logout</span>Cerrar Sección</a></li>
            </ul>
        </nav>
    </aside>

    <header class="cabecera">

        <nav class="menu">

            <h1 style="color: white;" class="titulo2">Editar Estudiante</h1>

        </nav>


    </header>

    <section>
    <h2>Añadir estudiante </h2>

    <form action="">
        
        <fieldset class="formulario">
         
        
            <input type="text" placeholder="Cédula"class="campo">

        
            <input type="text" placeholder="Nombre" class="campo">

            
            <input type="text" class="campo" placeholder="Apellido">

           
            <select id="opciones" name="opciones" placeholder="curso">
                <option value="opcion1">Seleccionar</option>
                <option value="opcion2">Excel</option>
                <option value="opcion3">PowerPoint</option>
                <option value="opcion4">Canvas</option>
                <option value="opcion5">Ofimática</option>
            </select>

    
        <input type="tel" placeholder="Télefono" class="campo">

        <input type="submit" value="Agregar Estudiante">
    </fieldset>
    </form>
</section>
</body>
</html>