<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/login.css">
    <link rel="icon" href="../static/img/file.png">
    
    <title>Login</title>
</head>
<body>
    <form id="loginForm" action="../login.php" method="POST">
        <fieldset class="formulario2">
            <div class="logo">
                
                <img src="../static/img/file.png" alt="" style="width: 80px;"> <legend><h3>Login</h3></legend></div>
            <label for="">Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="Usuario" class="campo" required>
            <label for="">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" class="campo" required>
            <input type="submit" value="Iniciar sesión" class="button">
        </fieldset>
    </form>

    <!-- Modal -->
    <div id="modal" style="display:none;">
        <div class="modal-content">
            <span id="modalClose" class="close">&times;</span>
            <h2 id="modalTitle"></h2>
            <p id="modalMessage"></p>
        </div>

    <script src="../js/login.js"></script>
</body>
</html>
